.el-pagination {
  text-align: right;
  padding-top: 18px;
  .el-pagination__sizes {
    float: left;
  }
}
.el-table {
  th {
    background-color: #f8f8f8!important;
    padding: 8px 0!important;
  }
}
